$dark-green-text: rgb(3, 97, 8);
$dark-gree-text: rgb(2, 185, 2);
$font-title: "Alegreya", serif;
$button-color: black;
$padding: 10px;
$background-color: black; 
$grey: $background-color;
$font-size: 30px;
$container: 100%;
